* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    

}

h1 {

	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	margin: 1rem;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;    
    font-weight: 700;
}

h2 {
	font-size: 1.2rem;
	color: navy;
	text-align: center;
	margin: 1rem;
    padding-top: 10px;
}

nav {
	max-width: 700px;
}

header {

    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  
    
}

main {
    display: flex;
    justify-content: center;
    
}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #FFFFFF;
	position: absolute;
	top: 1rem;
	right: 1rem;
    padding-top: 7px;
    cursor: pointer;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

.mobile {
	display: flex;
	flex-direction: column;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
    
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}
.navigation a:hover {

	font-weight: 700;
    text-decoration: underline;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.open a:hover {

    background-color: #FFFFFF;
    color: #f7f0ee ;
}


#lastModified {
    color: #000047;
}

.image-grid {
    display: grid;
    padding: 0;
    gap: 0;
    justify-items: center;
}

.image-grid img {
    height: 55vw;
    align-items: center;

}

.album-content {
    margin-bottom: 1.5rem;
}

.image-grid figcaption {
    padding: 0;
    padding-top: 5px;
    text-align: center;
}

.image-grid figure {
    margin: 0;
    padding: 10px;

}

body {
    background-color: #fdf4ed; /* white */
    color: #FFFFFF; /* white */
}


header, nav {
    background-color: #34048d ; /* Blue*/
    color: #FFFFFF; /* White */
}

footer {
    background-color: #110486; /* blue*/
    color: #FFFFFF; /* White */
    text-align: center;
    padding: 10px 0;
}


