
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 45%;
}

ul {
    list-style-type: disc;
}

body {
    font-family: "Arimo", sans-serif;
    font-size: 1.1rem;
}


.card .content-wrapper p {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-right: 1rem;
    text-align: justify;
    margin-top: 3rem;
}

user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
body {
    font-family: "Arimo", sans-serif;
    font-size: 1.1rem;
}
